<!-- <div class="mx-auto max-w-7xl py-6 sm:px-6 sm:py-7 lg:px-8 ">
  <p class="mt-6 text-xl leading-8 font-bold text-pink-500">About</p>
  <div class="relative isolate overflow-hidden bg-black px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0  flex justify-center">
      <div class="relative mt-16 lg:mt-8 mb-16">
          <p class="mt-2 text-sm leading-8 text-purple-300">Team:</p>
          <div class="flex items-center mt-2 text-sm leading-8 text-purple-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 4.5h16.5a1.5 1.5 0 011.5 1.5v12a1.5 1.5 0 01-1.5 1.5H3.75a1.5 1.5 0 01-1.5-1.5v-12a1.5 1.5 0 011.5-1.5z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M22.5 6l-10.5 7.5L1.5 6" />
              </svg>
              Email: temi1010100gmail.com
          </div>
          <div class=" items-center mt-2 text-sm leading-8 text-purple-300">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 mr-2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 5h18M3 12h18m-9 7h9" />
              </svg>
          <p>Booking Policy: You can cancel or reschedule up to 48 hours before the appointment time.</p>
          </div>
      </div>
  </div>
</div> -->


<div class="mx-auto max-w-7xl py-6 sm:px-6 sm:py-7 lg:px-8">
    <!-- <p class="text-center text-xl font-bold text-pink-500">About</p> -->
    <p class="mt-6 text-xl leading-8 font-bold text-pink-500">About</p>
    <div class="relative isolate overflow-hidden bg-zinc-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 flex justify-center">
        <div class="text-center lg:text-left  lg:mt-8 mb-16 space-y-6">
            
            <div class="flex justify-center lg:justify-start items-center space-x-2 text-sm text-purple-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 4.5h16.5a1.5 1.5 0 011.5 1.5v12a1.5 1.5 0 01-1.5 1.5H3.75a1.5 1.5 0 01-1.5-1.5v-12a1.5 1.5 0 011.5-1.5z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M22.5 6l-10.5 7.5L1.5 6" />
                </svg>
                <a href="mailto:infiniteconcept0@gmail.com" class="underline">infiniteconcept0&#64;gmail.com</a>
            </div>
  
            <div class="flex justify-center lg:justify-start items-start space-x-2 text-sm text-purple-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 5h18M3 12h18m-9 7h9" />
                </svg>
                <p>Booking Policy: You can cancel or reschedule up to 48 hours before the appointment time.</p>
            </div>
        </div>
    </div>
  </div>
  