/* .slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: max-content; 
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideshow 30s ease-in-out infinite;
    z-index: 0; 
}


@keyframes slideshow {
    0% { background-image: url("/assets/b3.png"); }
    14.28% { background-image: url("/assets/b4.png"); }
    28.56% { background-image: url("/assets/b5.png"); }
    42.84% { background-image: url("/assets/b6.png"); }
    57.12% { background-image: url("/assets/b7.png"); }
    71.4% { background-image: url("/assets/b8.png"); }
    85.68% { background-image: url("/assets/b9.png"); }
    100% { background-image: url("/assets/b3.png"); } 
} */


.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: max-content; /* Ensure it covers the full viewport */
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideshow 42s ease-in-out infinite;
    transition: background-image 1.5s ease-in-out; /* Smooth transition between background images */
    z-index: 0; /* Set z-index appropriately */
}

@keyframes slideshow {
    0% { background-image: url("/assets/b3.png"); }
    14.28% { background-image: url("/assets/b4.png"); }
    28.56% { background-image: url("/assets/b5.png"); }
    42.84% { background-image: url("/assets/b6.png"); }
    57.12% { background-image: url("/assets/b7.png"); }
    71.4% { background-image: url("/assets/b8.png"); }
    85.68% { background-image: url("/assets/b9.png"); }
    100% { background-image: url("/assets/b3.png"); } /* Loop back to the first image */
}
