<p class=" mx-auto mt-6 text-xl leading-8 font-bold text-pink-400">Services</p>
<div class="relative isolate overflow-hidden bg-zinc-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
  <div class="bg-transparent w-full">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
      <div class="overflow-y-auto max-h-[70vh] custom-scrollbar">
        <div class="space-y-6">
          <div *ngFor="let service of services" (click)="selectService(service)" 
               class="group cursor-pointer border-2 border-dashed border-pink-200 p-4 rounded-lg flex flex-col">
            <div *ngIf="getSafeImageUrl(service.image_url)" class=" h-14 w-14 mb-4 overflow-hidden rounded-lg">
              <img [src]="getSafeImageUrl(service.image_url)" [alt]="service.name" 
                   class="w-full h-full object-cover transform hover:scale-110 transition-transform duration-300">
            </div>
            <h3 class="font-bold text-lg text-pink-200 font-serif">{{ service.name }}</h3>
            <p class="mt-2 text-xl font-medium text-purple-200">{{service.duration}}hrs</p>
            <p class="mt-2 text-xl font-medium text-purple-200">${{ service.price }}</p>
            <p class="mt-2 text-sm text-pink-300">{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Booking Form -->
<div *ngIf="selectedService" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-75">
  <div class="relative w-full max-w-md p-8 bg-gradient-to-br from-purple-900 to-black rounded-xl shadow-2xl font-sans">
    <button (click)="closeForm()" class="absolute top-4 right-4 text-pink-300 hover:text-white focus:outline-none transition-colors duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    
    <h3 class="text-2xl font-bold mb-6 text-pink-300">Book {{ selectedService.name }}</h3>
    <p  class="text-sm font-bold mb-6 text-pink-300">please fill out all information to book</p>
    
    <form (ngSubmit)="bookService()" class="space-y-6">
      <div>
        <label for="userEmail" class="block text-sm font-medium text-purple-300">Email</label>
        <input type="email" id="userEmail" [(ngModel)]="userEmail" name="userEmail" required 
               class="mt-1 block w-full px-4 py-3 bg-purple-800 border border-purple-600 rounded-md shadow-sm placeholder-purple-400
                      focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent
                      text-white text-sm transition-all duration-200">
      </div>
      
      <div>
        <label for="userName" class="block text-sm font-medium text-purple-300">Name</label>
        <input type="text" id="userName" [(ngModel)]="userName" name="userName" required 
               class="mt-1 block w-full px-4 py-3 bg-purple-800 border border-purple-600 rounded-md shadow-sm placeholder-purple-400
                      focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent
                      text-white text-sm transition-all duration-200">
      </div>
      
      <div>
        <label for="bookingTime" class="block text-sm font-medium text-purple-300">Booking Time</label>
        <input type="datetime-local" id="bookingTime" [(ngModel)]="bookingTime" name="bookingTime" required 
               class="mt-1 block w-full px-4 py-3 bg-purple-800 border border-purple-600 rounded-md shadow-sm placeholder-purple-400
                      focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent
                      text-white text-sm transition-all duration-200">
      </div>
      
      <button type="submit" 
              class="w-full bg-gradient-to-r from-pink-500 to-purple-600 text-white py-3 px-4 rounded-md shadow-sm 
                     hover:from-pink-600 hover:to-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500
                     transition duration-300 ease-in-out text-sm font-medium transform hover:scale-105">
        Book Now
      </button>
    </form>
  </div>
</div>